services:
  temar_db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - temar_data:/var/lib/postgresql/data
    ports:
      - "${DATABASE_PORT:-5432}:5432"
    networks:
      - dokploy-network

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile.web
      target: dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/workspace
      - /workspace/node_modules
    depends_on:
      - temar_db
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.web.rule=Host(`${WEB_HOSTNAME}`)
      - traefik.http.routers.web.entrypoints=web
      - traefik.http.services.web.loadbalancer.server.port=3000

volumes:
  temar_data:

networks:
  dokploy-network:
    external: true
