services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 10s
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - data:/var/lib/postgresql/data
    networks:
      - dokploy-network

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: source
    restart: "no"
    env_file:
      - .env
    command:
      [
        "pnpm",
        "nx",
        "run",
        "db-client:generate:prod",
        "&&",
        "pnpm",
        "nx",
        "run",
        "db-client:migrate:prod",
      ]
    depends_on:
      db:
        condition: service_healthy

    networks:
      - dokploy-network

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - dokploy-network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      target: nginx
    restart: unless-stopped
    depends_on:
      - web
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`${WEB_HOSTNAME}`)"
      - "traefik.http.routers.nginx.entrypoints=websecure"
      - "traefik.http.routers.nginx.tls.certresolver=letsencrypt"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

  notion_sync-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: notion_sync-service
    restart: no
    env_file:
      - .env
    ports:
      - 3333:3333
    depends_on:
      - db
    networks:
      - dokploy-network

volumes:
  data:

networks:
  dokploy-network:
    external: true
